In [1]:
import pandas as pd
import numpy as np

In [2]:
# load the csv file
df = pd.read_csv('./elim_car_dataset.csv')
df.drop(['id'], axis=1, inplace=True)
df

,city,brand,prod_year,color,usage,body_cond,engine_cond,front_chassis,back_chassis,tpi,gearbox,price
0,tehran,peugeot20602,1396,white,100000,intact,healthy,intact,intact,1.0,manual,280000000
1,tehran,peugeot20602,1389,white,211000,colored,healthy,intact,intact,11.0,manual,188000000
2,tehran,peugeot20602,1385,silver,436000,whole_colored,healthy,impact,intact,5.0,manual,125000000
3,tehran,peugeot20602,1396,white,62000,minor_scratch,healthy,intact,intact,3.0,manual,265000000
4,tehran,peugeot20602,1381,black,275000,round_colored,healthy,intact,intact,9.0,manual,115000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1688,urmia,peugeot20605,1395,black,137000,colored,healthy,intact,intact,5.0,manual,248000000
1689,urmia,peugeot20605,1382,silver,320000,minor_scratch,healthy,intact,intact,5.0,manual,140000000
1690,urmia,peugeot20605,1391,red,130000,whole_colored,healthy,intact,intact,6.0,manual,165000000
1691,urmia,peugeot20605,1384,silver,111111,round_colored,healthy,intact,colored,10.0,manual,144000000
1692,urmia,peugeot20605,1393,white,190000,colored,NaN,impact,NaN,5.0,NaN,200000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city           1693 non-null   object
 1   brand          1693 non-null   object
 2   prod_year      1693 non-null   int64
 3   color          1693 non-null   object
 4   usage          1693 non-null   int64
 5   body_cond      1683 non-null   object
 6   engine_cond    1649 non-null   object
 7   front_chassis  1614 non-null   object
 8   back_chassis   1609 non-null   object
 9   tpi            1618 non-null   float64
 10  gearbox        1611 non-null   object
 11  price          1693 non-null   int64
dtypes: float64(1), int64(3), object(8)
memory usage: 158.8+ KB

In [8]:
def nan_stat():
    d_size = df.shape[0]
    for label in list(df):
        # count number of rows with missing values
        n_miss = df[label].isnull().sum()
        perc = n_miss / d_size * 100
        print('> %s, Missing: %d (%.1f%%)' % (label, n_miss, perc))

nan_stat()

> city, Missing: 0 (0.0%)
> brand, Missing: 0 (0.0%)
> prod_year, Missing: 0 (0.0%)
> color, Missing: 0 (0.0%)
> usage, Missing: 0 (0.0%)
> body_cond, Missing: 10 (0.6%)
> engine_cond, Missing: 44 (2.6%)
> front_chassis, Missing: 79 (4.7%)
> back_chassis, Missing: 84 (5.0%)
> tpi, Missing: 75 (4.4%)
> gearbox, Missing: 82 (4.8%)
> price, Missing: 0 (0.0%)

In [18]:
ctgf = ['city', 'brand', 'color', 'body_cond', 'engine_cond', 'front_chassis', 'back_chassis', 'gearbox']
ordf = ['prod_year', 'usage', 'tpi', 'price']

# Replace catagorical missing values with the most frequent values present in each column
df[ctgf] = df[ctgf].fillna(df[ctgf].mode().iloc[0])

# Replace ordinal missing values with the average values presented in each column
df[ordf] = df[ordf].fillna(df[ordf].median())

In [19]:
df

,city,brand,prod_year,color,usage,body_cond,engine_cond,front_chassis,back_chassis,tpi,gearbox,price
0,tehran,peugeot20602,1396,white,100000,intact,healthy,intact,intact,1.0,manual,280000000
1,tehran,peugeot20602,1389,white,211000,colored,healthy,intact,intact,11.0,manual,188000000
2,tehran,peugeot20602,1385,silver,436000,whole_colored,healthy,impact,intact,5.0,manual,125000000
3,tehran,peugeot20602,1396,white,62000,minor_scratch,healthy,intact,intact,3.0,manual,265000000
4,tehran,peugeot20602,1381,black,275000,round_colored,healthy,intact,intact,9.0,manual,115000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1688,urmia,peugeot20605,1395,black,137000,colored,healthy,intact,intact,5.0,manual,248000000
1689,urmia,peugeot20605,1382,silver,320000,minor_scratch,healthy,intact,intact,5.0,manual,140000000
1690,urmia,peugeot20605,1391,red,130000,whole_colored,healthy,intact,intact,6.0,manual,165000000
1691,urmia,peugeot20605,1384,silver,111111,round_colored,healthy,intact,colored,10.0,manual,144000000
1692,urmia,peugeot20605,1393,white,190000,colored,healthy,impact,intact,5.0,manual,200000000

In [20]:
nan_stat()

> city, Missing: 0 (0.0%)
> brand, Missing: 0 (0.0%)
> prod_year, Missing: 0 (0.0%)
> color, Missing: 0 (0.0%)
> usage, Missing: 0 (0.0%)
> body_cond, Missing: 0 (0.0%)
> engine_cond, Missing: 0 (0.0%)
> front_chassis, Missing: 0 (0.0%)
> back_chassis, Missing: 0 (0.0%)
> tpi, Missing: 0 (0.0%)
> gearbox, Missing: 0 (0.0%)
> price, Missing: 0 (0.0%)

In [21]:
df.describe()

         prod_year         usage          tpi         price
count  1693.000000    1693.00000  1693.000000  1.693000e+03
mean   1392.610159  148305.36267     6.996456  2.413722e+08
std       5.919610  111393.62339     3.335813  7.743875e+07
min    1380.000000       0.00000     1.000000  1.750000e+07
25%    1388.000000   60000.00000     4.000000  1.710000e+08
50%    1394.000000  123698.00000     7.000000  2.550000e+08
75%    1397.000000  210000.00000    10.000000  3.020000e+08
max    1401.000000  500000.00000    12.000000  4.120000e+08

In [9]:
# One Hot Encoding
ctgf = ['city', 'brand', 'color', 'body_cond', 'engine_cond', 'front_chassis', 'back_chassis', 'gearbox']
for catagory in ctgf:
    oh = pd.get_dummies(df[catagory], prefix=catagory)
    df = pd.concat([df, oh], axis=1)
    df.drop([catagory], axis=1, inplace=True)

In [10]:
df.to_csv('elim_car_dataset_preprocessed.csv')