In [20]:
import pandas as pd
import numpy as np

In [ ]:
dataset_name = "new_elim"

In [23]:
# load the csv file
df = pd.read_csv(f'./{dataset_name}_car_dataset.csv')
df.drop(['id'], axis=1, inplace=True)
df

,city,brand,prod_year,color,usage,body_cond,engine_cond,front_chassis,back_chassis,tpi,gearbox,price
0,tehran,peugeot20602,1400,white,22000,intact,healthy,intact,intact,3.0,manual,410000000
1,tehran,peugeot20602,1391,white,153000,collision_rep,healthy,intact,intact,4.0,manual,269000000
2,tehran,peugeot20602,1389,ashgray,240000,intact,healthy,intact,intact,4.0,manual,230000000
3,tehran,peugeot20602,1391,white,235000,minor_scratch,healthy,intact,intact,6.0,manual,280000000
4,tehran,peugeot20602,1390,ashgray,267000,round_colored,healthy,intact,intact,9.0,manual,230000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1907,urmia,peugeot20605,1397,white,68000,intact,healthy,intact,intact,12.0,manual,390000000
1908,urmia,peugeot20605,1384,dimgray,300000,whole_colored,healthy,intact,intact,12.0,NaN,156000000
1909,urmia,peugeot20605,1396,white,37000,intact,healthy,intact,intact,12.0,manual,381000000
1910,urmia,peugeot20605,1385,silver,375000,round_colored,healthy,intact,intact,12.0,manual,250000000
1911,urmia,peugeot20605,1399,white,40000,intact,healthy,intact,intact,12.0,manual,385000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1912 entries, 0 to 1911
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city           1912 non-null   object
 1   brand          1912 non-null   object
 2   prod_year      1912 non-null   int64
 3   color          1912 non-null   object
 4   usage          1912 non-null   int64
 5   body_cond      1905 non-null   object
 6   engine_cond    1850 non-null   object
 7   front_chassis  1839 non-null   object
 8   back_chassis   1833 non-null   object
 9   tpi            1797 non-null   float64
 10  gearbox        1779 non-null   object
 11  price          1912 non-null   int64
dtypes: float64(1), int64(3), object(8)
memory usage: 179.4+ KB

In [25]:
def nan_stat():
    d_size = df.shape[0]
    for label in list(df):
        # count number of rows with missing values
        n_miss = df[label].isnull().sum()
        perc = n_miss / d_size * 100
        print('> %s, Missing: %d (%.1f%%)' % (label, n_miss, perc))

nan_stat()

> city, Missing: 0 (0.0%)
> brand, Missing: 0 (0.0%)
> prod_year, Missing: 0 (0.0%)
> color, Missing: 0 (0.0%)
> usage, Missing: 0 (0.0%)
> body_cond, Missing: 7 (0.4%)
> engine_cond, Missing: 62 (3.2%)
> front_chassis, Missing: 73 (3.8%)
> back_chassis, Missing: 79 (4.1%)
> tpi, Missing: 115 (6.0%)
> gearbox, Missing: 133 (7.0%)
> price, Missing: 0 (0.0%)

In [26]:
# Fill all missing TPIs with 0
df['tpi'] = df['tpi'].fillna(0)
nan_stat()

> city, Missing: 0 (0.0%)
> brand, Missing: 0 (0.0%)
> prod_year, Missing: 0 (0.0%)
> color, Missing: 0 (0.0%)
> usage, Missing: 0 (0.0%)
> body_cond, Missing: 7 (0.4%)
> engine_cond, Missing: 62 (3.2%)
> front_chassis, Missing: 73 (3.8%)
> back_chassis, Missing: 79 (4.1%)
> tpi, Missing: 0 (0.0%)
> gearbox, Missing: 133 (7.0%)
> price, Missing: 0 (0.0%)

In [27]:
ctgf = ['city', 'brand', 'color', 'body_cond', 'engine_cond', 'front_chassis', 'back_chassis', 'gearbox']
ordf = ['prod_year', 'usage', 'price']

# Replace catagorical missing values with the most frequent values present in each column
df[ctgf] = df[ctgf].fillna(df[ctgf].mode().iloc[0])

# Replace ordinal missing values with the average values presented in each column
df[ordf] = df[ordf].fillna(df[ordf].median())

In [29]:
nan_stat()

> city, Missing: 0 (0.0%)
> brand, Missing: 0 (0.0%)
> prod_year, Missing: 0 (0.0%)
> color, Missing: 0 (0.0%)
> usage, Missing: 0 (0.0%)
> body_cond, Missing: 0 (0.0%)
> engine_cond, Missing: 0 (0.0%)
> front_chassis, Missing: 0 (0.0%)
> back_chassis, Missing: 0 (0.0%)
> tpi, Missing: 0 (0.0%)
> gearbox, Missing: 0 (0.0%)
> price, Missing: 0 (0.0%)

In [30]:
df.describe()

         prod_year          usage          tpi         price
count  1912.000000    1912.000000  1912.000000  1.912000e+03
mean   1393.493201  138159.600418     6.684623  3.225547e+08
std       5.713091  111374.533986     3.706587  9.966267e+07
min    1380.000000       0.000000     0.000000  1.000000e+07
25%    1389.000000   50000.000000     4.000000  2.400000e+08
50%    1395.000000  114000.000000     7.000000  3.400000e+08
75%    1398.000000  200000.000000    10.000000  4.040000e+08
max    1401.000000  500000.000000    12.000000  4.980000e+08

In [31]:
# One Hot Encoding
ctgf = ['city', 'brand', 'color', 'body_cond', 'engine_cond', 'front_chassis', 'back_chassis', 'gearbox']
for catagory in ctgf:
    oh = pd.get_dummies(df[catagory], prefix=catagory)
    df = pd.concat([df, oh], axis=1)
    df.drop([catagory], axis=1, inplace=True)

In [19]:
df.to_csv(f'{dataset_name}_car_dataset_preprocessed.csv')